/*Polices*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat&family=Varela+Round&display=swap');
/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
*/

body{
    background-color: rgba(226, 246, 255, 0.55);
}

/*Images*/
.logo{
    width: 20vw;
    height: auto;
}

/*Cadre connexion*/
.container-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 40px;
    height: 68vh;
    width: 62vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login{
    width: 55%;
    height: 100%;
    border-radius: 40px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login.right{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(203deg, #008CC9 0%, rgba(0, 164, 217, 0.75) 23.65%, rgba(12, 193, 237, 0.5) 57.56%, rgba(105, 222, 255, 0.25) 97.64%, rgba(105, 222, 255, 0.25) 100%);
    width: 45%;
    border-radius: 40px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 2vh;
}

.login p{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.05vw;
}

.login .login-text{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 5vw;
    color: #008CC9;
}

/*Contain Mdp*/
.contain-mdp{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*Style input*/

input{
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 2.7vw;
    width: auto;
    height: 4vh;
    width: auto;
    outline-color: #008CC9;

    font-family: 'Hind Siliguri', sans-serif;
}

/*btn*/

.contain-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    color: white;
    background-color: rgba(5, 150, 214, 0.95);
    border: none;
    font-family: 'Hind Siliguri', sans-serif;
    height: auto;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.05);    
}

.contain-bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    background-color: black;
    height: 1px;
    width: 80%;
    border: none;
}

/*Position icon input*/

.user{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position-y: center;
    background-position-x: 5px;
}

.locker{
    background-image: url(../images/cadenas.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    background-size: 1.7vw;
}

/*Style lien*/
a{
    text-decoration: none;
    color: #008CC9;
}

/*Checkbox revele*/

.contain-revele{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
}


/*INSCRIPTION*/

.contain-double-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contain-double-data input{
    width: 11vw;
}

.contain-double-data.date input{
    width: 50%;
}

.contain-double-data.date select{
    border-radius: 30px;
    border: 1px solid black;
    width: 40%;
    padding-left: 0.6vw;
    outline-color: #008CC9;
}

.contain-btn.inscription{
    gap: 5px;
    align-items: center;
}

.login.inscription input{
    padding-left: 1vw;
}

.contain-btn.inscription .btn{
    padding-left: 15px;
}

/*Navbar*/
body{
    margin: 0px;
}

.head{
    background-color:rgba(226, 246, 255, 0.55);
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.head img{
    width: 7vw;
}

.contain{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.menu-right{
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    width: 10%;
    height: 100vh;
}

/*TITRE ET BUTTON*/
.head-mood{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 15px;
}

.contain-mood p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
}

/*HUMEUR TAB*/

.contain-mood{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 100vh;
}

.table-mood{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    border-collapse: collapse;
}

.table-mood th,td{
    text-align: left;
    padding-left: 8px;
    font-size: 1.3vw;
    height: 5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.table-mood tr .last-column{
    border-right: none;
    width: 35%;
}

.head-mood button{
    font-size: large;
    border: none;
    background-color: rgba(226, 246, 255, 0.55);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.head-mood button:hover{
    background-color: rgba(226, 246, 255, 1);
    cursor: pointer;
}
