/*Polices*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat&family=Varela+Round&display=swap');
/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
*/


body{
    background-color: rgba(226, 246, 255, 0.55);
}

/*Images*/
.logo{
    width: 20vw;
    height: auto;
}
.enBleu{
	color:darkblue;
}

.enBleu span{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.05vw;
}




/*Cadre connexion*/
.conteneur-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.conteneur{
    border-radius: 40px;
    height: 68vh;
    width: 62vw;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteneurVisu{
    height: 68vh;
    width: 62vw;
    background: linear-gradient(203deg, #008CC9 0%, rgba(0, 164, 217, 0.75) 23.65%, rgba(12, 193, 237, 0.5) 57.56%, rgba(105, 222, 255, 0.25) 97.64%, rgba(105, 222, 255, 0.25) 100%);
    width: 45%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sansCadre{
	border-width:0px!important;
}


.login{
    width: 55%;
    height: 100%;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginVisu{
    width: 55%;
    height: 100%;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginVisu.left{
    display: flex;
    align-items: center;
    justify-content: center;

}

.login.right{
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(203deg, #008CC9 0%, rgba(0, 164, 217, 0.75) 23.65%, rgba(12, 193, 237, 0.5) 57.56%, rgba(105, 222, 255, 0.25) 97.64%, rgba(105, 222, 255, 0.25) 100%);
    width: 45%;
    border-radius: 40px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 2vh;
}

.login p{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.05vw;
}

.login .login-text{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 3vh;
    color: #008CC9;
}

.loginVisu .login-textVisu{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 2vw;
    color: whitesmoke;
}

.loginVisu .login-textVisuBis{
    font-family: 'Varela Round', sans-serif;
    font-size: 1vw;
    margin-bottom: 1vw;
    color: whitesmoke;
}


.containGraph{
    width: 20vw;
    height: auto;
}

.radarPlus {
    height: 55vh;
}

/*Contain Mdp*/
.contain-mdp{
    width: 100%;
    display: flex;
    flex-direction: column;
}


/*Style input*/

input{
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 2.7vw;
    width: auto;
    height: 4vh;
    width: auto;
    outline-color: #008CC9;

    font-family: 'Hind Siliguri', sans-serif;
}

/*btn*/

.btn-connect{
    display: flex;
    justify-content: center;
}


.btn{
    color: white;
    background-color: rgba(5, 150, 214, 0.95);
    border: none;
    border-radius: 40px;
    width: 17vh;
    padding: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.bG{
	background-color:rgba(226, 246, 255, 0.55);
}

.emojie{
	font-size: 50vh;
}

.btnVisu{
    color: rgba(5, 150, 214, 0.95);
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 13vh;
    height: 5vh;
    padding: 1vh;
    font-size: 2vh;
}
.nimport{
	width : 100%;
	height : 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	padding-bottom: 2vh;
}

.nimport canvas{
	height: 20%;
	width: auto;
}
.visu{
    display: flex;
    justify-content: center;
    background-color:rgba(226, 246, 255, 0.55);
}

.btnVisu2{
    color: darkblue;
	background-color:rgba(226, 246, 255, 0.55);
    width: 40vh;
    height: 9vh;
    padding: 1vh;
    font-size: 5vh;
	text-align: center;
    border: none;
    outline: none;
    border-radius: 0!important;
}


.btnVisu2:hover{
	background-color:rgb(145, 196, 219);
    
}

.btn:hover{
    transform: scale(1.05);
}

hr{
    background-color: black;
    height: 1px;
    width: 80%;
    border: none;
}

.rouge{
    background-color: red;
}

.sansCadre{
    border-width:0px;
    width: 100%;
}
/*Position icon input*/

.user{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: 1.7vw;
    background-position-y: center;
    background-position-x: 5px;
}



.locker{
    background-image: url(../images/cadenas.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    background-size: 1.7vw;
}

.row-btn{
    padding-right: 5vw;
}
/*Checkbox revele*/

.contain-revele{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
}


/*INSCRIPTION*/

.contain-double-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contain-double-data input{
    width: 11vw;
}

.login.inscription input{
    padding-left: 1vw;
}


/*Navbar*/
body{
    margin: 0px;
}

.head{
    background-color:rgba(226, 246, 255, 0.55);
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.head img{
    width: 7vw;
}

.contain{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}

.menu-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*TITRE ET BUTTON*/
.head-mood{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 15px;
}

.contain-mood p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
}

/*HUMEUR TAB*/

.contain-mood{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 100%;
    background-color: white;
}

.table-mood{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    border-collapse: collapse;
}

.table-mood th,td{
    text-align: left;
    padding-left: 8px;
    font-size: 1.3vw;
    height: 5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-right: 1px solid rgba(0, 0, 0, 0.18);
}

.table-mood tr .last-column{
    border-right: none;
    width: 35%;
}

/*design submit change view*/

.contain-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contain-bottom.inscription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

a{
    color: #008CC9;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.05vw;
}

/*Page mood ajout*/
.column-button{
    border: none;
}

.column-button button{
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.column-button button:hover{
    background-color: lightgrey;
}

/* Masquez la forme Popup */
#popupForm {
	background: white;
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 70%;
	transform: translate(-45%, 5%);
	border: 1px solid lightgray;
	z-index: 9;
	padding: 15px;

    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
}

#popupForm hr{
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
}

.ajoutHumeurForm{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ajoutHumeurForm input {
	text-align:center;
	padding: 0px;
    border-radius: 0px;
    border: 1px solide black;
    outline-color: #008CC9;
}

.time-input{
    width: 7vw;
}

.ajoutHumeurForm select{
    border-radius: 0px;
    border: 1px solide black;
    outline-color: #008CC9;
}

.sansBordure {
	border: none;
	margin: 0;
}

.annuler{
    background-color: white;
    color: red;
    border: red solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.annuler:hover{
    background-color: red;
    color: white;
    border: white solid 1px;
}

.btn-ajout{
    background-color: #008CC9;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-ajout:hover{
    background-color: white;
    border: #008CC9 1px solid;
    color: #008CC9;
}

.btnNav {
	display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}


[class^="col-"]{
	border-style:solid ; 	/* Bordure double */
	border-width:3px;		/* Epaisseur bordure */
	border-color:#0099ff;	/* Couleur de la bordure */
	border-radius: 5px;		/* Arrondissement des angles */
	/*margin :5px;*/
	padding:5px;
	text-align:center;  /* Centrage du texte */
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

/*Message erreur connexion*/

.err{
    font-family: 'Hind Siliguri', sans-serif;
    color: red;
}

.ok{
    font-family: 'Hind Siliguri', sans-serif;
    color: lightgreen;
}

/*Style Menu*/
.menu{
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1px;

}

.menu div{
    background-color: #ECF0F1;
    padding: 5px;
    text-align: center;
}

.menu div a{
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
}

.menu div:hover{
    background-color: white;
}

/*Bouton de déconnexion*/

.btn-deco{
    padding: 10px;
    background-color: #ECF0F1;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
}

/*Modification.php*/
.contain-modif{
    padding-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    gap: 20px;

    font-family: 'Varela Round', sans-serif;
    color: #008CC9 ;
}

.FirstFrame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SecondFrame{
    text-align: center;
}

.SecondFrame form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.NomPrenom input {
    padding: 0px;
    padding-left: 5%;
    width: 43.5%;
}

.FirdFrame{
    display: flex;
    flex-direction: column;
}

.FirdFrame input{
    padding: 0px;
    padding-left: 5%;
    width: 95%;
}