/*Polices*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat&family=Varela+Round&display=swap');
/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Varela Round', sans-serif;
*/


body, html{
    height: 100%;
}

.backgroundBleu {
    background-color: rgba(226, 246, 255, 0.55);
}

.contain {
    width: 100%;
}

/* Ajout taille de la navBar */
.page {
    padding-top: 64px;
    justify-content: center;
}

/*Images*/
.logo {
    width: 20vw;
    height: auto;
}

.enBleu, .enBleu span{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.05vw;
    color:darkblue;

}

/*Cadre connexion*/
.conteneur-main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.conteneurVisu{
    height: 68vh;
    width: 62vw;
    background: linear-gradient(203deg, #008CC9 0%, rgba(0, 164, 217, 0.75) 23.65%, rgba(12, 193, 237, 0.5) 57.56%, rgba(105, 222, 255, 0.25) 97.64%, rgba(105, 222, 255, 0.25) 100%);
    width: 45%;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.loginVisu{
    width: 60%;
    height: 100%;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loginVisu .login-textVisu{
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vw;
    margin-bottom: 2vw;
    color: whitesmoke;
}

.loginVisu .login-textVisuBis{
    font-family: 'Varela Round', sans-serif;
    font-size: 1vw;
    margin-bottom: 1vw;
    color: whitesmoke;
}


.containGraph{
    width: 20vw;
    height: auto;
}

.radarPlus {
    height: 71vh;
}

.donutGraph {
    height: 85vh;
}




/*Style input*/

input{

    font-family: 'Hind Siliguri', sans-serif;
    margin: 0!important;
}

/*btn*/

.btn-connect{
    display: flex;
    justify-content: center;
}


.btn{
    color: white;
    background-color: rgba(5, 150, 214, 0.95);
    border: none;
    border-radius: 40px;
    width: 17vh;
    padding: 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.btnVisu{
    color: rgba(5, 150, 214, 0.95);
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 13vh;
    height: 5vh;
    padding: 1vh;
    font-size: 2vh;
}

.nimport{
	width : 100%;
	height : 100%;
	display: flex;
	align-items: center;
	justify-content:center;
	padding-bottom: 2vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: #0086ce 1px solid;
    border-radius: 10px;

}

.nimport canvas{
	height: 20%;
	width: auto;
}
.visu{
    display: flex;
    justify-content: center;
    background-color:rgba(226, 246, 255, 0.55);
}

.btnVisu2{
    color: darkblue;
    background: none;
    width: 40vh;
    height: 9vh;
    padding: 1vh;
    font-size: 5vh;
	text-align: center;
    border: none;
    outline: none;
    border-radius: 0!important;
}


.btnVisu2:hover{
	background-color:rgb(145, 196, 219);
    transition : 0.2s; 
    
}

.btn:hover{
    transform: scale(1.05);
}

hr{
    background-color: black;
    height: 1px;
    width: 80%;
    border: none;
}

.sansCadre{
    border-width:0px!important;
    width: 100%;
}

.row-btn{
    padding-right: 5vw;
}

/*Navbar*/
body{
    margin: 0px;
}


.contain{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: white;
}



/*TITRE ET BUTTON*/
.head-mood{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 15px;
}

.contain-mood p{
    font-family: 'Varela Round', sans-serif;
    font-size: 2vw;
}

/*HUMEUR TAB*/

.contain-mood{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 100%;
    background-color: white;
}

.table-mood{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    
}

.humeurTitre {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.table-mood th,td {
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.3vw;
    height: 5vh;
    border-bottom: 1px solid rgb(0, 0, 0);

}


.card {
    border-radius: .9em 0 0 .9em;
    border: black 1px solid;
    height: 78vh;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.table-mood tr .last-column{
    width: 35%;
}

thead {
    position: sticky;
    top: 0;
    background-color: #0086ce;
    color : white;  
}


/*design submit change view*/

.contain-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contain-bottom.inscription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

a{
    color: #008CC9;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.05vw;
}

/*Page mood ajout*/
.column-button{
    border: none;
}

.column-button button{
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.column-button button:hover{
    background-color: lightgrey;
}

/* Masquez la forme Popup */
#popupForm {
	border : 2px solid rgb(0, 157, 255)!important; 
    background-color:  rgb(170, 220, 250);
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 70%;
	transform: translate(-45%, 5%);
	border: 1px solid lightgray;
	z-index: 9;
	padding: 15px;
	border-radius: 10px;

    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
}

#popupForm hr{
    background-color: rgba(0, 0, 0, 0.18);
    width: 100%;
}

.popupHumeur {
	background: white;
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 40vw;
	transform: translate(-45%, 5%);
	z-index: 9;
    border-radius: 10px;
}

.ajoutHumeurForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	margin-bottom: 10px;
}

.ajoutHumeurForm input {
	margin-left: 10px;
}

.sansBordure {
	border: none;
	margin: 0;
}

.annuler {
    font-family: 'Varela Round', sans-serif;
    background-color: white;
    color: red;
    border: red solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}

.annuler:hover{
    background-color: red;
    color: white;
    border: red solid 1px;
}

.btn-ajout{
    font-family: 'Varela Round', sans-serif;
    background-color: #008CC9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    margin-bottom: 1vh;
    margin-right: 1vw;

}

.confirmerAjout:hover {
    background-color: white;
    border: #008CC9 1px solid;
    color: #008CC9;
}

.btn-ajout{
    font-family: 'Varela Round', sans-serif;
    background-color: #008CC9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;  
}

.btn-ajout:hover{
    background-color: white;
    border: #008CC9 1px solid;
    color: #008CC9;
}

.btnNav {
	display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}


[class^="col-"] {
	text-align:center;  /* Centrage du texte */
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

/*Message erreur connexion*/

.err{
    font-family: 'Hind Siliguri', sans-serif;
    color: red;
}

.ok{
    font-family: 'Hind Siliguri', sans-serif;
    color: lightgreen;
}

/*Style Menu*/
.menu{
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    width: 10%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1px;

}

.menu div{
    background-color: #ECF0F1;
    padding: 5px;
    text-align: center;
}

.menu div a{
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
}

.menu div:hover{
    background-color: white;
}

/*Bouton de déconnexion*/

.btn-deco{
    padding: 10px;
    background-color: #ECF0F1;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
}

/*Modification.php*/

.contain .container {

    margin-top: 5vh;
}

.contain span {

    font-size: large;
}

.textModifier {
    
    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
    font-size: xx-large;
}

.containModification {

    text-align: left;    
    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
}

.containModification input {

    margin-bottom: 10px;
}

.containModificationEnregistrer {
    text-align: right;   
}


/* Taille du logo (crayon) */
.logoModifier {

    width: 10vw;
}

#popupFormModification {
	background: white;
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 50%;
	transform: translate(-45%, 5%);
	border: 1px solid lightgray;
	z-index: 9;
	padding: 15px;
	border-radius: 10px;

    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
}

#popupSupprimer {
	background: white;
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 50%;
	transform: translate(-45%, 5%);
	border: 1px solid lightgray;
	z-index: 9;
	padding: 15px;
	border-radius: 10px;

    color: #008CC9;
    font-family: 'Varela Round', sans-serif;
}

/* Visualisation humeur (petit cadre) */

.containCadre {
	
	padding: 2vh;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
    border : 2px solid rgb(0, 157, 255); 
    background-color:  rgba(0, 157, 255, 0.279);
	border-radius: 10px;
	margin-top: 2vw;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.containPopup {
	
	padding: 2vh;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
    border : 2px solid rgb(0, 157, 255); 
    background-color:  rgba(0, 157, 255, 0.279);
	border-radius: 10px;
}

.containCadre span {
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
	color:rgb(0, 0, 0);
}

.containCadre .title {
    font-size: 26px;
}

.containPopup .title {
    font-size: 26px;
}

.containCadre:hover {
	transform: scale(1.05);
}

textarea {
	overflow-y: scroll;
	height: 100px;
	resize: none;
}

/* Activation du button pour la pagination */
.active {
    background-color: rgb(38, 0, 255)!important;
    color: whitesmoke;
}

.bt-pagination {
    width: 40px;
    height: 30px;
    margin: 4px!important; 
    border : 2px solid rgb(0, 157, 255); 
    background-color:  rgba(0, 157, 255, 0.279);
    border-radius: 5px;
}

.bt-pagination:hover {
    transform: scale(1.05);
}



/* Classes pour flouter l'arrière plan */
.flou{
    filter: blur(10px);
}



/* bouton pour aller en haut de la page */ 
#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #55ebff;

    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
/* CSS */
.okFormRadar {
    background : linear-gradient(160deg, #0093E9 0%, #aff7fd 100%);    
    background-color: #0093E9;
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.okFormRadar:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 177, 239, 0.5), .125rem .125rem 1rem rgba(90, 255, 186, 0.5);
}

.okFormRadar:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 155, 239, 0.5), .125rem .125rem 1rem rgba(90, 255, 217, 0.5);
}

.selectFormGraph {
    color: rgba(5, 150, 214, 0.95);
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    padding-left: 0.3vw;
    margin-right: 0.8vw;
    height: 3rem;
    
}

.selectFormGraph:hover {
    border-color :rgba(5, 150, 214, 0.95);
    transform : scale(1.05); 

}

select::-webkit-scrollbar {
    width: 16px;
    height: 5px;
  }
  
select::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;

}

select::-webkit-scrollbar-thumb {
    background-color:rgba(5, 150, 214, 0.95);
    border-radius: 100px;
}

/* scroll bar pour le tableau de la visualisation */
.card::-webkit-scrollbar {
    width: 16px;
    height: 5px;
  }
  
.card::-webkit-scrollbar-track {
    background-color: #e4e4e4;

}

.card::-webkit-scrollbar-thumb {
    background-color: #0086ce;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


.humeurPlusFrequente {
    margin-top: 10vh;
}


.emojiFrequent  {
    height: 85vh;
    border: #0086ce 1px solid;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.emojie{
	font-size: 50vh;
    font-family: 'Varela Round', sans-serif;
}

.borderTop {
    padding-top: 3.5vh;
    margin-bottom: 2vh;
}

.emojiFrequentLibelle {
	color:darkblue;
    font-size: 2vw;

}

.emojiGrossi {
    transform: scale(1.1);
}

.texteGrossi {
    font-size: 20px;
    color : darkblue; 
}

.boutonEye {
    background-color: #f1f1f1!important;
    color :rgb(0, 0, 0)!important; 
    border : 1px solid black!important; 
}

/* tr:nth-child(2n + 1) .boutonEye {
    background-color: #d2faff!important;
}

tr:nth-child(2n) .boutonEye {
    background-color: #ffffff!important;
} */

.boutonEye:hover {
    transform: scale(1.03)!important;
}

.fa-pencil {
    color: #008CC9;
    margin-bottom: 3vh;

}

input[type=checkbox] {
    border-radius: 20px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
}

.selectAutoWidth {
    width:auto; 
}

.selectAutoWidth option {
    width : auto; 
    max-width: 17vw;
}

.containerPopup {
	background: white;
	display: none;
	position: absolute;
    top:5%; 
    left: 5%;
    width: 90%;
    height: 70vh;
	z-index: 10!important;
    border : 5px solid #00c3ff; 
    border-radius: 10px;
    
}

fieldset legend {
    color: #00c3ff;
    background-color: #fff;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 0 5px #00c3ff;
}

.contextePopup {
    word-wrap: break-word;
    border-radius: 10px;
    padding-right: 3vw;
    padding-left: 3vw; 
    background-color: rgb(244, 244, 244);
    margin-left: 3vw;
    margin-right: 3vw;
    max-height: 85%;
    border : 1px solid black ;
    overflow: auto;
}

.contextePopup::-webkit-scrollbar {
    width: 16px;
    height: 5px;
  }
  
.contextePopup::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;

}

.contextePopup::-webkit-scrollbar-thumb {
    background-color:#00c3ff;
    border-radius: 100px;
}

.annulerPopup {
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    bottom : 0; 
    background-color: white;
    color: red;
    border: red solid 1px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.popupContexte {
	background: white;
	display: none;
	position: fixed;
	left: 50%;
	top: 30%;
    width: 40vw;
	transform: translate(-45%, 5%);
	z-index: 9;
    border : 1px solid black; 
}
